# Ignore all files without extensions (Nim files compiled on linux)
*
!*/
!*.*

# Unignore makefiles
!Makefile

# Ignore exes (Nim filed compiled on Windows) and nim temp files
*.exe
nimcache/
*/nimcache

# Ignore special test.nim used by me because there's no CL Nim REPL
test.nim

pyvenv/

docs/_*
